:root {
    --color-red: hsl(4, 100%, 67%);
  
    --color-blue-800: hsl(234, 29%, 20%);
    --color-blue-700: hsl(235, 18%, 26%);
    --color-grey: hsl(0, 0%, 58%);
    --color-white: hsl(0, 0%, 100%);
  
    --font-body: 16px;
    --font-family: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    height: 100%;
}
  
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-blue-700);
    font-family: var(--font-family);
}

.main {
    display: flex;
    flex-direction: row;
    background-color: white; 
    width: 50rem;
    height: 35rem;
    padding: 1.2rem;
    border-radius: 2rem;
}

.illustration {
    border-radius: 1rem;
}

.content {
    padding: 1rem;
    margin-right: 2rem;
}

.h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--color-blue-800);
}

.description {
    color: var(--color-blue-800);
    margin-bottom: 2rem;
    font-size: 1rem;
}

ul li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
    padding-left: 0;
}

ul li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url('./assets/images/icon-list.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

li {
    font-size: 0.99rem;
    color: var(--color-blue-800);
}

.mail {
    margin-top: 2.5rem;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-blue-800);
    margin-left: 0.3rem;
}

.email-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 9rem;
}
input {
    width: 100%;
    height: 3.5rem;
    border-radius: 0.7rem;
    padding-left: 1rem;
    margin-bottom: 1.2rem;
    border: 1px solid var(--color-grey);
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: var(--color-blue-800);
}

.error {
    color: var(--color-red);
    display: none;
    font-size: 0.8rem;
    margin-top: 1.8rem;
}

input.invalid {
    border-color: var(--color-red);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-blue-800);
    color: white;
    font-size: 1rem;
    padding: 1.2rem 3.6rem;
    border-radius: 0.7rem;
    white-space: nowrap;
    font-weight: var(--font-weight-regular);
}

button:hover, button:active {
    background-color: var(--color-red);
    border-color: var(--color-red);
    border: 1px solid var(--color-red);
}

.success {
    display: none;
    background-color: white;
    width: 30rem;
    padding: 3rem;
    border-radius: 2rem;
}

.success .description {
    margin-bottom: 2rem;
}

.success button {
    background-color: var(--color-blue-800);
    border-color: var(--color-blue-800);
    width: 100%;
    border: 1px solid var(--color-blue-800);
    box-sizing: border-box;
}

.success button:hover, .success button:active {
    background-color: var(--color-red);
    border-color: var(--color-red);
    border: 1px solid var(--color-red);
}

button, .success button {
    transition: background-color 0.2s ease;
}

.illustration-mobile {
    display: none;
}

@media (max-width: 728px) {
    html, body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .illustration {
        display: none;
    }

    .illustration-mobile {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        display: flex;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0;
        border-radius: 0;
    }

    button {
        width: 100%;
    }

    input {
        width: 100%;
    }

    .email-wrapper {
        gap: 18rem;
    }

    .content {
        padding: 1.5rem;
        margin-right: 0;
    }

    .success {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        border-radius: 0;
        padding-top: 8rem;
    }

    .success button {
        margin-top: 15rem;
        width: 100%;
    }
}